<div class="bootstrap-wrapper">
    <div class="row mt20">
        <div class="col-md-12">
            <h1>Add New Question in <span style="font-weight:bold">{{qTitle}} </span>Quiz</h1>
            <mat-card>
                <mat-card-header>
                    <mat-card-subtitle>
                        Enter the detail of the new question
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <form>
                        <mat-form-field class="w100">
                            <mat-label>Write Question Content</mat-label>
                                <textarea 
                                matInput placeholder="Enter Here"
                                rows="6"
                                >
                                </textarea>
                        </mat-form-field>

                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="w100">
                                    <mat-label>Enter Option 1</mat-label>
                                    <input type="text" matInput/>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="w100">
                                    <mat-label>Enter Option 2</mat-label>
                                    <input type="text" matInput/>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="w100">
                                    <mat-label>Enter Option 3</mat-label>
                                    <input type="text" matInput/>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="w100">
                                    <mat-label>Enter Option 4</mat-label>
                                    <input type="text" matInput/>
                                </mat-form-field>
                            </div>
                        </div>
                        <mat-form-field class="w100">
                            <mat-label>Select Answer</mat-label>
                            <mat-select >
                                <mat-option>Option1 </mat-option>
                                <mat-option>Option1 </mat-option>
                                <mat-option>Option1 </mat-option>
                                <mat-option>Option1 </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class="container text-center mt15">
                            <button mat-raised-button color="success" >ADD+</button>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>